[submodule "examples/vendor/wrapper"]
	path = examples/vendor/wrapper
	url = https://github.com/juliusHuelsmann/Wrapper.git
[submodule "examples/vendor/muparser"]
	path = examples/vendor/muparser
	url = https://github.com/juliusHuelsmann/muparser.git
